##Tipo de datos
1. Numerico
- Entero: int
- Decimal: float
2. Alfanumerico o cadena de caracteres.
(String - str)
3. Lógico: Boolean - bool
4. Lista: list[]
5. Diccionarios: {}

Para saber que tipo de datos estamos manipulando, se usa la función type()

#Prueba de evaluacion de conocimientos

In [ ]:
5+3*4

17

In [ ]:
type(5+3*4)

int

In [ ]:
print(f"5+3*4={5+3*4} y da como resultado un valor de tipo {type(5+3*4)}")

5+3*4=17 y da como resultado un valor de tipo <class 'int'>

In [ ]:
#Cuando se usa suma en strings, sucede la concatenacion
"5"+"3"*2

'533'

In [ ]:
#= es asignacion, == es comparacion
2**11 == 1000

##Operaciones lógicas
1. Disyunción (o): Una proposicion es verdadera, si al menos una de ella lo es. En python se puede enunciar con la palabra **or** o con **||**.
Ejemplo: V OR V da V. V OR F da V. F OR V da V. F OR F da F.
2. Conjuncion (y): Una preposicion es verdadera , si Y SOLO SI, ambas preposiciones son verdaderas. En python, se utiliza la palabra **and** o **&&** para su uso.
Ejemplo: F and F da F; F and V da F; V and F da F; V and V da V.
3. Negación (no): Niega el valor de una proposicion. Si el valor de verdad es true, se vuelve false. En python se usa la palabra **not** o ~ para denotarla.

In [ ]:
a=2 ** 11 == 1000 or 2 ** 9 == 100
print(f"El valor de la expresión a =2 ** 11 == 1000 or 2 ** 9 == 100 es {a}")

El valor de la expresión a =2 ** 11 == 1000 or 2 ** 9 == 100 es False

In [ ]:
#Colocar un tipo de dato antes del dato, se usa para transformar el dato dentro del parentesis en el dato por fuera del parentesis
int("cincuenta")

In [ ]:
int("50")

50

In [ ]:
str("50")

'50'

In [ ]:
#Siempre que halla una division, el resultado dara decimal (float)
16/16 + 384/24

17.0

In [ ]:
a=16/16+384/24

In [ ]:
print(f"La operacion 16/16 + 384/24 es {a} y es de tipo {type(16/16 + 384/24)}")

La operacion 16/16 + 384/24 es 17.0 y es de tipo <class 'float'>

In [ ]:
# % es el módulo de la operación
600 + 18%

In [ ]:
0<(4096%10)<6

False

In [ ]:
a='Max' + 'Min'

In [ ]:
print(f"La operacio 'Max' + 'Min' es {a} y es de tipo{type('Max' + 'Min')}")

La operacio 'Max' + 'Min' es 17.0 y es de tipo<class 'str'>

In [ ]:
# ABC () es una función no definida
ABC()*DEF()

abs(len('seis') - len('tres'))

1. abs= valor absoluto
2. len= cuenta la cantidad de letras de un string

-len('seis')=4
-len('tres')=4

In [ ]:
abs(len('seis') - len('tres'))

0

In [ ]:
#Todos los números a excepción de 0, da true
#al convertirlos a booleanos
bool(1210) or bool (-3465)

True

In [ ]:
int('8' * 3)

888

In [ ]:
int('8' * 3) / 3

296.0

In [ ]:
str(296.0)

'296.0'

In [ ]:
#Todos los strings son listas, por ende, podemos
#conocer la posición de cada uno de sus elementos
#En python se empieza contando desde 0
str(296.0)[3]

'.'