#Listas
Una lista en Python es una colección ordenada y mutable de elementos, que pueden ser de diferentes tipos (números, cadenas, etc.). Cada elemento tiene una posición específica que empieza desde 0, y permite agregar, eliminar o modificar su contenido.

In [7]:
#extend:Añade los elementos de una lista o cualquier iterable al final de la lista actual, descompone el iterable y añade cada elemento de forma individual.

lista1 = ['2006,02,13','1980,06,09']
lista2 = ['Mariana','Suarez','Graterón','Yaneth','Graterón','Ortiz']

lista1.extend(lista2)

print(lista1)

['2006,02,13', '1980,06,09', 'Mariana', 'Suarez', 'Graterón', 'Yaneth', 'Graterón', 'Ortiz']

In [10]:
#remove: Elimina la primera aparición de un elemento.

lista1 = ['2006', '02', '13', '1980', '06', '09']
lista1.remove('13')
print(lista1)

['2006', '02', '1980', '06', '09']

In [13]:
#insert: Inserta un elemento en una posición específica.

lista1 = ['2006', '02', '13', '1980', '06', '09']
lista1.insert(2, '06')
print(lista1)

['2006', '02', '06', '13', '1980', '06', '09']

In [14]:
#append: Añade un elemento al final de la lista.

lista1 = ['2006', '02', '13', '1980', '06', '09']
lista1.append('2024')
print(lista1)

['2006', '02', '13', '1980', '06', '09', '2024']

In [15]:
#pop: Elimina y retorna el elemento en una posición específica (por defecto el último).

lista1 = ['2006', '02', '13', '1980', '06', '09']
elemento = lista1.pop()
print(elemento)
print(lista1)

09
['2006', '02', '13', '1980', '06']

In [16]:
#clear: Elimina todos los elementos de la lista.

lista1 = ['2006', '02', '13', '1980', '06', '09']
lista1.clear()
print(lista1)

[]

In [19]:
#index: Retorna el índice de la primera aparición de un elemento.

lista1 = ['2006', '02', '13', '1980', '06', '09']
if '3' in lista1:
    indice = lista1.index('3')
    print(indice)
else:
    print("El valor '3' no está en la lista.")

El valor '3' no está en la lista.

In [20]:
#count: Retorna el número de veces que un elemento aparece en la lista.

lista1 = ['2006', '02', '13', '1980', '06', '09']
veces = lista1.count('02')
print(veces)

1

In [21]:
#sort: Ordena los elementos de la lista en orden ascendente (por defecto).

lista1 = ['2006', '02', '13', '1980', '06', '09']
lista1.sort()
print(lista1)

['02', '06', '09', '13', '1980', '2006']

In [22]:
#reverse: Invierte el orden de los elementos de la lista.

lista = ['2006', '02', '13', '1980', '06', '09']
lista.reverse()
print(lista)

['09', '06', '1980', '13', '02', '2006']

#Diccionarios
Un diccionario en Python es una estructura de datos que almacena pares de clave-valor, donde cada clave es única y se utiliza para acceder a su valor asociado. Se define usando llaves {} y permite una búsqueda eficiente de valores mediante sus claves.

In [25]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.get:Este método devuelve el valor de una clave. Si la clave no existe, devuelve un valor por defecto (opcional).

valor = datos.get('año_nacimiento_1')
print(valor)

valor_inexistente = datos.get('año_nacimiento_3', 'No existe')
print(valor_inexistente)

2006
No existe

In [26]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.keys:Devuelve una vista de todas las claves del diccionario.

claves = datos.keys()
print(claves)

dict_keys(['año_nacimiento_1', 'mes_nacimiento_1', 'dia_nacimiento_1', 'año_nacimiento_2', 'mes_nacimiento_2', 'dia_nacimiento_2'])

In [27]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.values:Devuelve una vista de todos los valores del diccionario.

valores = datos.values()
print(valores)

dict_values(['2006', '02', '13', '1980', '06', '09'])

In [ ]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.items:Devuelve una vista de los pares clave-valor del diccionario como tuplas.

elementos = datos.items()
print(elementos)

In [ ]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.update:Actualiza el diccionario con los elementos de otro diccionario o pares clave-valor.

datos.update({'dia_nacimiento_1': '14'})
print(datos['dia_nacimiento_1'])

In [ ]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.pop:Elimina un elemento del diccionario y devuelve su valor. Si la clave no existe, puedes proporcionar un valor por defecto.

valor_eliminado = datos.pop('mes_nacimiento_2')
print(valor_eliminado)
print(datos)

In [28]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.clear:Elimina todos los elementos del diccionario.

datos_vacios = datos.copy()
datos_vacios.clear()
print(datos_vacios)

{}

In [29]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}


#dict.copy:Devuelve una copia superficial del diccionario.

datos_copia = datos.copy()
print(datos_copia)

{'año_nacimiento_1': '2006', 'mes_nacimiento_1': '02', 'dia_nacimiento_1': '13', 'año_nacimiento_2': '1980', 'mes_nacimiento_2': '06', 'dia_nacimiento_2': '09'}

In [31]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.setdefault:Devuelve el valor de una clave si existe; de lo contrario, inserta la clave con un valor por defecto.

mes = datos.setdefault('mes_nacimiento_3', '08')
print(datos)

{'año_nacimiento_1': '2006', 'mes_nacimiento_1': '02', 'dia_nacimiento_1': '13', 'año_nacimiento_2': '1980', 'mes_nacimiento_2': '06', 'dia_nacimiento_2': '09', 'mes_nacimiento_3': '08'}

In [32]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.fromkeys:Crea un nuevo diccionario con las claves dadas y un valor por defecto (opcional).

nuevas_claves = ['clave_1', 'clave_2', 'clave_3']
nuevo_diccionario = dict.fromkeys(nuevas_claves, 'valor_por_defecto')
print(nuevo_diccionario)

{'clave_1': 'valor_por_defecto', 'clave_2': 'valor_por_defecto', 'clave_3': 'valor_por_defecto'}